// reset default styling 

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	font-family: sans-serif;
}

.notification-bar {
	height: 8vh;
	background-color: black;
	display: flex;
	align-items: center;
	padding: 0 0.5rem 0 0.5rem;

	&__time {
		text-align: right;
		width: 100%;
		color: aliceblue;
	}
}

// style phone content / apps

.phone-content {
	height: 84vh;
	background-image: url('./img/wallpaper.png');
  background-size: cover;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.app {
	padding: 1rem;

	&__img {
		width: 100%;
		display: block;
		border-radius: 1rem;
		box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
	}

	&__name {
		text-align: center;
		color: white;
		text-shadow: 1px 1px 4px #000000;
		padding-top: 0.5rem;
		font-weight: 400;
	}
}










// style footer-phone menu

.phone-menu {
	background-color: black;
	height: 8vh;

	&__nav {
		height: 8vh;

		display: flex;
		align-items: center;
	}
}

.navigation {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-around;
}

.navigation-button {
	background-color: black;
	border: 0;

	&__icon {
		color: rgba(255, 255, 255, 0.872);
	}
}