// Basic colors
$basic-color-black:black;
$basic-color-white: aliceblue;
$box-shadow-dark: rgba(0, 0, 0, 0.75);
$box-shadow-light: rgba(0,0,0,0.24);
$background-transparency: #ffffff7d;

// Apps colors
$gratitude-main-color: #b08fb8;
$yoga-main-color: #52acc886;



