* {
  box-sizing: border-box;
}

.yoga {
  font-family: "Roboto Mono", monospace;
  background-image: url("./img/yoga/wallpaper.png");
  background-size: cover;
}
.yoga__title {
  color: aliceblue;
  background: black;
  font-size: xx-large;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
  text-shadow: 2px 2px 0 rgba(82, 172, 200, 0.5254901961), 2px -2px 0 rgba(82, 172, 200, 0.5254901961), -2px 2px 0 rgba(82, 172, 200, 0.5254901961), -2px -2px 0 rgba(82, 172, 200, 0.5254901961), 2px 0px 0 rgba(82, 172, 200, 0.5254901961), 0px 2px 0 rgba(82, 172, 200, 0.5254901961), -2px 0px 0 rgba(82, 172, 200, 0.5254901961), 0px -2px 0 rgba(82, 172, 200, 0.5254901961);
  text-align: center;
  padding: 1rem;
}
.yoga__container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin: 3rem 1rem 1rem 1rem;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.24);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.slides-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: aliceblue;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.slides-button:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
.slides-button--right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: aliceblue;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slides-button--right:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.yoga-slide {
  display: none;
}
.yoga-slide--fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.yoga-slide__number {
  font-size: 2rem;
  padding: 4rem;
  position: absolute;
  top: 0;
  color: aliceblue;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}
.yoga-slide__image {
  padding: 2rem;
  border-radius: 6rem;
}
.yoga-slide__text {
  color: aliceblue;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  font-size: 2rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.gratitude-app {
  font-family: "Roboto Mono", monospace;
  background-image: url("./img/gratitude/wallpaper.png");
  background-size: cover;
}
.gratitude-app__title {
  text-align: center;
  padding: 1rem;
  font-size: xx-large;
  color: #b08fb8;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}
.gratitude-app__content {
  display: flex;
  flex-direction: column;
  height: 75vh;
}

.todays-affirmation {
  flex-grow: 1;
}
.todays-affirmation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.4901960784);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.affirmation-container__text {
  margin: 1rem;
  width: 70%;
  height: 30vh;
  text-align: center;
  padding: 0.5rem;
  border-radius: 4%;
  border: rgba(0, 0, 0, 0.24) dashed 1rem;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}
.affirmation-container__text:focus {
  outline: none;
}
.affirmation-container__text:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.24);
}
.affirmation-container__submit {
  border-radius: 10rem;
  margin-bottom: 1rem;
  padding: 0.3rem;
  width: 60%;
  cursor: pointer;
  font-size: large;
  color: aliceblue;
  background-color: #b08fb8;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}
.affirmation-container__submit:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.24);
}

.affirmations {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50%;
  margin: 0 1rem 1rem 1rem;
  border-radius: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.4901960784);
}
.affirmations:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.24);
}

.affirmation {
  margin: 0.1rem 0 0.1rem 0;
  word-break: break-all;
}

.music {
  font-family: "Roboto Mono", monospace;
  background-image: url("./img/music/wallpaper.png");
  background-size: cover;
}
.music__title {
  text-align: center;
  padding: 1rem;
  font-size: xx-large;
  color: aliceblue;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}
.music__container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  border-radius: 1rem;
}

.song {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.4901960784);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}
.song__title {
  text-align: center;
  padding-bottom: 0.5rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(254, 250, 250, 0.9529411765);
}
.song__audio {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: sans-serif;
}

.notification-bar {
  height: 8vh;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1rem;
  background-color: black;
}
.notification-bar__icon {
  color: aliceblue;
}
.notification-bar__time {
  text-align: right;
  width: 100%;
  font-size: x-large;
  color: aliceblue;
}

.phone-content {
  height: 84vh;
  background-image: url("./img/phone-wallpaper.png");
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app {
  padding: 1rem;
}
.app__img {
  width: 100%;
  display: block;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}
.app__img:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.24);
}
.app__name {
  color: aliceblue;
  text-shadow: 1px 1px 4px black;
  padding-top: 0.5rem;
  font-weight: 400;
  text-align: center;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 92vh;
}
.modal--hidden {
  display: none;
}

.phone-menu {
  background-color: black;
  height: 8vh;
}
.phone-menu__nav {
  height: 8vh;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.navigation-button {
  background-color: black;
  border: 0;
  padding: 1rem;
}
.navigation-button__icon {
  color: aliceblue;
}

/*# sourceMappingURL=styles.css.map */
